<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-truetimeswift"
        version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>TrueTimeSwift</name>
    <js-module name="TrueTimeSwift" src="www/TrueTimeSwift.js">
        <clobbers target="TrueTimeSwift" />
    </js-module>
    <platform name="ios">
    <config-file target="config.xml" parent="/*">
        <feature name="TrueTimeSwift">
        <param name="ios-package" value="TrueTimeSwift" />
        </feature>
    </config-file>
    <source-file src="src/ios/TrueTimeSwift.swift" />
    </platform>
</plugin>
